.layout {
  width: 100%;
  min-height: 100vh;
  color: #252525;
  position: relative;
  display: flex;
  flex-direction: column;
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    filter: blur(300px);
    z-index: 0;
    background: linear-gradient(340.24deg, rgba(255, 255, 255, 0) -7.1%, rgba(216, 236, 255, 0.72) 25.45%, rgba(246, 227, 255, 0.68) 110.19%, #F9E2FF 119.13%);
  }
  &__body {
    z-index: 2;
    width: 100%;
    max-width: 496px;
    margin: 0 auto;
    flex-grow: 1;
  }
}