.header {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 148px;
    height: 76px;
  }
}
