.modals-container {
    position: relative;
    z-index: 100;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(139,136,170, 0.55);
}
.modal {
    width: 90%;
    max-width: 420px;
    position: relative;
    z-index: 2;
    display: flex;
    padding-top: 24px;
    flex-direction: column;
    background-color: $white;
    &--cutted-corner {
        clip-path: polygon(100% 0, 100% 95%, 97% 100%, 0 100%, 0 0);
    }
    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 0 32px;
    }
    &__close {
        cursor: pointer;
        margin-left: 16px;
    }
    &__title {
        @extend %title;
        font-weight: 700;
        font-size: 24px;
    }
    &__btn-panel {
        display: flex;
        padding: 0 32px;
    }
    &__btn {
        flex-grow: 1;
        width: 50%;
        &:not(:last-of-type) {
            margin-right: 24px;
        }
    }
}
