@tailwind base;
@tailwind components;
@tailwind utilities;

body, header {
  position: relative;
  height: 100%;
}

body {
  background-color: #06010D;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

a {
  color: #FFF;
  transition: color 0.3s ease-in;
}

a:hover {
  color: #14F195;
}

a:focus-visible {
  @apply outline-none outline-0;
  border-bottom: 1px solid #FFFFFF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

.title-1 {
  @apply  flex flex-row gap-[10px] items-center text-2xl leading-4 font-bold mb-[20px];
}

.title-1 .logo {
  @apply min-w-[32px] min-h-[32px];
  background-image: url('~/public/logo192.png');
  background-size: contain;
}

.title-1 .github {
  @apply block min-w-[32px] min-h-[32px];
  background-image: url('~/public/icons/github.svg');
  background-size: contain;
}

.form-content {
  @apply p-[20px] max-w-[600px] mx-auto;
}

.form-input {
  @apply flex flex-col justify-center items-center w-full h-[64px] leading-[24px] h-[48px] py-[12px] px-[20px] rounded-[8px] text-[20px] text-[#444] transition-all font-bold;
}

.form-input[disabled] {
  @apply opacity-80 bg-white;
}

.form-select {
  @apply flex flex-col justify-center items-center w-full h-[64px] leading-[24px] h-[48px] py-[12px] px-[20px] rounded-[8px] text-[20px] text-[#444] transition-all font-bold;
  box-sizing: border-box;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.evm-select {
  @apply flex flex-col justify-center items-center w-[200px] h-[64px] leading-[24px] h-[36px] py-[6px] px-[10px] rounded-[8px] text-[20px] text-[#fff] transition-all font-bold cursor-pointer;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.form-select::-ms-expand {
  display: none;
}

.form-select:hover {
  border-color: #888;
}

.form-select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  color: #222;
  outline: none;
}

.form-select[disabled] {
  @apply opacity-80 bg-white;
}

.form-select option {
  font-weight: normal;
}

.form-button {
  @apply flex flex-col justify-center items-center w-full h-[64px] leading-[24px] h-[48px] px-[20px] rounded-[8px] text-center text-[20px] text-[#fff] transition-all font-bold;
  background: linear-gradient(91.79deg, #6115DF 59.46%, #BA3CD9 80.5%, #F77137 101.11%);
}

.form-button:hover {
  background: linear-gradient(91.79deg, #BA3CD9 59.46%, #F77137 101.11%);
}

.form-button[disabled] {
  @apply text-[#3F3A46] cursor-default;
  background: #1C1920;
}

.form-label {
  @apply flex flex-row text-white text-[16px] leading-[20px] mb-[6px];
}

.form-field {
  margin-bottom: 18px;
}

.icon-button {
  @apply w-[36px] h-[36px];
  background-image: url('~/public/icons/change.svg');
}
